@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

.white-space-nowrap {
  white-space: nowrap;
}

@media print {
  header, nav, footer {
    display: none;
  }
  .no-print, .no-print * {
    display: none !important;
  }
}

@import "active-trader-info";
